<?xml version="1.0"?>
<launch>
	<!--Parameter-->
	<param name="IniDirectory" value="$(find neo_base_mpo_700)/ros/launch/cob_can_and_kinematics/IniFiles/"/>
	<param name="timeout" value="1.0"/> <!-- [s] -->
	<param name="max_trans_velocity" value="1.1"/> <!-- [m/s] -->
	<param name="max_rot_velocity" value="1.8"/> <!-- [rad/s] -->
	<param name="broadcast_tf" value="true"/>
	<!-- undercarriage_control_node -->
	<node pkg="cob_undercarriage_ctrl" type="cob_undercarriage_ctrl_node" name="undercarriage_ctrl_node" respawn="false" output="screen">
		<remap from="command" to="/cmd_vel_smooth"/>
	</node>
</launch>
