<?xml version="1.0"?>
<launch>
	
	<!-- upload parameters -->
	<rosparam command="load" ns="relayboard" file="$(find neo_base_mpo_500)/ros/launch/serrelay/$(env ROBOT).yaml"/>
	
	<!-- start relayboard node -->
	<node pkg="neo_relayboardv2" type="neo_relayboardV2_node" ns="relayboard" name="relayboardV2_node" respawn="false" output="screen"/>


</launch>
