<?xml version="1.0"?>
<launch>
	
	<!-- upload parameters -->
	<rosparam command="load" ns="auto_recover" file="$(find neo_base_mpo_700)/ros/launch/auto_recover/$(env ROBOT).yaml"/>
	
	<!-- start auto_recover node -->
	<node pkg="neo_auto_recover" type="auto_recover_node" ns="auto_recover" name="auto_recover_node" respawn="false" output="screen"/>


</launch>
